.hero
{
    padding-top: 50px;
    background-image: url('../assets/PattayaBeach.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
}

.image_logo
{
    width: 40%;
    height: auto;
}
